body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f6fa;
    color: #111827;
}

.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 240px;
    background: #ffffff;
    border-right: 1px solid #e5e7eb;
    min-height: 100vh;
    padding: 20px;
}

.sidebar h1 {
    font-size: 18px;
    margin-bottom: 25px;
    color: #111827;
}

.sidebar button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background: #f3f4f6;
    border: none;
    color: #111827;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
}

.sidebar button:hover {
    background: #e5e7eb;
}

/* Main */
.content {
    flex: 1;
    padding: 20px;
}

/* hide */
.hidden {
    display: none;
}

/* Cards */
.card {
    background: #ffffff;
    border: 1px solid #e5e7eb;
    padding: 15px;
    margin: 10px 0;
    border-radius: 12px;
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

/* Dashboard */
.hero-card {
    background: #ffffff;
    border: 1px solid #e5e7eb;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.big-number {
    font-size: 42px;
    font-weight: bold;
}

.medium-number {
    font-size: 26px;
}

/* Grid */
.stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 15px 0;
}

.stat-card {
    background: #ffffff;
    border: 1px solid #e5e7eb;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
}
